<h1>All Restaurant Reviews</h1>

<ul>
  <% @restaurants.each do |restaurant|%>
    <li><% binding.pry%>
      <%= link_to restaurant.name, restaurant_path(restaurant) %> -
      Restaurant Name: <%= restaurant.name %>
      Location: <%= restaurant.location %>
      Cuisine: <%= restaurant.cuisine %>

          <% restaurant.reviews.each do |review|%>
          <li><strong>Rating:<%=review.rating %></strong> |
            Review: <%= review.content%>
            Username: <%= review.user.name%>
          </li>
          <% end %>
        </ul>
    </li>
  <% end %>
</ul>


<!--show each restaurant  -->
<!--link to each show page  -->
<%= link_to "Create a new Restaurant Review!", new_review_path %><br>
<%= link_to "Home", reviews_path %><br>
<%= link_to "Log Out", destroy_user_session_path %><br>
