<h1>Restaurant Reviews</h1>

<%= form_tag("/restaurants", method: "get") do %>
  <%= label_tag(:rating, "Enter the rating you want to see") %>
  <%= number_field_tag(:rating) %>
  <%= submit_tag("Search") %>
<% end %>

<!--show each restaurant  -->
<!--number of reviews  -->
<% @restaurants.each do |restaurant|%>
  <p> Restaurant Name: <%=restaurant.name %></p>
  <p> Restaurant Cuisine: <%= restaurant.cuisine %> </p>
  <!--<p> Average Rating: <%=  #restaurant.rating.%> <p> -->
  <!--<p> Number of Reviews: <%= #restaurant.review.rating.count %> <p> --> 
<% end %>
<%=%>
<%=%>
