<!DOCTYPE html>
<html lang="eng">

<head>
<title>Restaurant Reviews</title>
</head>

<body>
  <h1>Restaurants</h1>
  <a href="#" onclick="displayCreateForm(); return false;"> Submit Restaurant Review</a>
  <a href="#" onclick="getTodos(); return false;"> All Restaurants</a>
  <hr>
  <div id="review-form"></div>
  <div id="main">
    <ul>
      <% @restaurants.each do |restaurant|%>
      <li>
        <h4>Restaurant Name: <%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
          <ul>
            <li>
              Location: <%= restaurant.location %>
            </li>
            <li>
              Cuisine: <%= restaurant.cuisine %>
            </li>
            <li>
              Average Rating: <%= restaurant.reviews.average_rating %> Stars
            </li>
          </ul>
        </li>
      <hr>
      <% end %>
    </ul>
  </div>

  <%= link_to "Create a new Restaurant Review!", new_review_path %><br>


</body>

</html>


<!-- Restaurants-->
<!--create a new restaurant review right button | See Restaurants button-->
<!-- line break -->
<!--loop through restaurant details using ajax -->
<!-- each restuarant has a <button> hook to 'See Restaurant's Reviews' -->

<!-- -->
<!-- -->
