<!-- show list of reviews made by user -->

<!-- Restaurant Name - link to show page -->
<!-- Rating -->

<!-- Restaurant Name - link to show page -->
<!-- Rating -->

<!-- Restaurant Name - link to show page -->
<!-- Rating -->

<h1>Welcome!</h1>


This website lets you view Restaurant reviews so you can decide where to eat your next meal!<br>
You can also contribute to the community by submitting a review for restaurants you have been to. <br>

<h3> Your Review Submissions: </h3>

<ul>
<% @reviews.order_by_rating.each do |review| %>
  <li>Restaurant Name:<%= link_to review.restaurant.name, review_path(review)%>
  <li>Your Rating:<%= review.rating%> </li> <br>
    <li>Review:<%= review.content%> </li> <br>
<% end %>
</ul>
<%= link_to "Create a new Restaurant Review!", new_review_path %><br>
<%= link_to "View All Restaurants", restaurants_path %><br>
